.navBar {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;

}

.navBar ul li {
    padding: 50px;
}

.navBar ul li a {
    color: #000000;
    text-decoration: none;
}